@import '../Global/Global.scss';

.page-content {
    overflow: hidden;
    background-color: $primary-color-black;
    height: 100vh;
}

.glow {
    position: absolute;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 255, 255, 0.1);
    filter: blur(125px);
    transition: top 3s, left 3s;
    pointer-events: none;
    border-radius: 100%;
}

.wrapper {
    display: flex;
    height: calc(100vh - 110px);
}

.searchinput-container {
    width: 30%;
    position: fixed;

    .inputbackground {
        background-color: #23252b65;
        margin-right: 11px;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(3px);
        z-index: 1;
    }
}

.searchInput {
    width: 60%;
    height: 40px;
    border-radius: 300px;
    border: none;
    padding: 0px 16px;
    background-color: $secondary-color-grey;
    color: white;
    font-family: $RobotoRegular;
    font-size: $p-size-pc-mid;
    transition: all 300ms ease-in-out;
    margin-left: 60px;
    margin-top: 30px;

    &:focus {
        outline: none;
        background-color: $secondary-color-grey-secondary;
    }
}

.searchInput::-webkit-input-placeholder {
    color: $secondary-color-grey-white;
    font-family: $RobotoBold;
}

.searchInput::-moz-placeholder {
    color: $secondary-color-grey-white; 
    font-family: $RobotoBold;
}

.searchInput:-moz-placeholder {
    color: $secondary-color-grey-white;
    font-family: $RobotoBold;
}

.searchInput:-ms-input-placeholder {
    color: $secondary-color-grey-white; 
    font-family: $RobotoBold;
}

.home-left {
    height: 100%;
    overflow-y: scroll;
    margin-top: 110px;
    display: flex;
    align-items: flex-start;
    background-color: $primary-color-black;
    flex-direction: column;
    font-family: $RobotoRegular;
    color: white;
    font-size: $p-size-pc-mid;

    &::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }
    
    &::-webkit-scrollbar-track {
        background: #aaaaaa;
        transition: all 300ms ease-in-out;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #5c5c5c;
        border-radius: 300px;
        transition: all 300ms ease-in-out;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #6e6e6e;
    }

    .home-left-container {
        width: fit-content;
        margin-top: 90px;
        margin-left: 60px;
        display: flex;

        .levelsList {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .classement_nom_du_niveau_classement {
            padding-bottom: 8px;
            padding-top: 8px;
        }

        .classement_nom_du_niveau {
            display: flex;
            align-items: flex-end;
            margin-bottom: 6px;
            margin-left: 15px;

            .classement_nom_du_niveau_classement {
                margin-right: 8px;
            }

            .lien-vers-niveau {
                width: fit-content;
                height: fit-content;
                border-radius: 12px;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                
                &:hover {
                    background-color: $secondary-color-grey;
                }

                .selected-level {
                    background-color: $secondary-color-purple !important;
                }
                
                .classement_nom_du_niveau_nom_du_niveau {
                    padding: 8px 8px;
                    border-radius: 12px;
                }
            }
        }
    }
}

.home-right {
    height: 100%;
    overflow-y: scroll;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    background-color: $primary-color-black;
    font-family: $RobotoRegular;
    font-size: $p-size-pc-mid;
    color: white;

    &::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }
    
    &::-webkit-scrollbar-track {
        background: #aaaaaa;
        transition: all 300ms ease-in-out;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #5c5c5c;
        border-radius: 300px;
        transition: all 300ms ease-in-out;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #6e6e6e;
    }

    .home-right-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
        margin-left: 80px;

        .home-right-wrapper {
            width: fit-content;
        }

        .iframe {
            width: 40vw;
            min-height: 400px;
            border: none;
            margin-top: 13px;
            margin-bottom: 20px;
            border-radius: 20px;
        }

        .title {
            font-size: $h1-size-pc;
            margin-bottom: 20px;
        }

        .wrapper-top, .wrapper-bottom {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .h2 {
            font-size: $h2-size-pc;
            font-family: $RobotoBold;
            margin-top: 13px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 7px;
        }

        .victoires {
            display: flex;

            .align-self {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            ul {
                margin-right: 16px;

                .name-player {
                    margin-bottom: -5px;
                }

                .position {
                    margin-bottom: 2px;
                    max-height: 25px;
                    padding: 4px;
                }

                .logo-yt {
                    margin-bottom: 6.82px;
                }
            }

            .logoyt-container {
                margin-top: 3px;

                .victoires-joueur-vid-link {
                    cursor: pointer;
                    transition: all 300ms ease-in-out;
                    border-radius: 8px;
                    margin-top: -4px;
    
                    &:hover {
                        background-color: $secondary-color-grey;
                    }
    
                    .logoyt {
                        transition: all 300ms ease-in-out;
                        width: 35px;
                        height: auto;
                        margin-top: -4px;
                        margin-bottom: -7px;
                    }
                }
            }
        }
    }

    .home-right-home-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
        align-items: center;

        .container1 {
            width: fit-content;
            display: flex;
            background-color: $secondary-color-grey;
            margin-bottom: 20px;
            width: fit-content;
            justify-content: space-between;
            border-radius: 18px;
            font-family: $RobotoRegular;
            color: white;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            z-index: 1;

            &:hover {
                background-color: #323436;
                scale: 1.005;
            } 

            .iframe_minia {
                min-width: 350px;
                min-height: 175px;
                max-width: 300px;
                max-height: 175px;
                border: none;
                border-radius: 12px;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 20px;
            }

            .container2 {
                margin-right: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 20px;
                display: flex;
                align-items: center;

                .container3 {
                    display: flex;
                    
                    h2 {
                        font-size: $h2-size-pc;
                        font-family: $RobotoBold;
                    }
                    
                    p {
                        font-size: $p-size-pc-mid;
                        color: rgb(192, 192, 192);
                    }
                    
                    .display {
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.home-left, .home-right {
    scrollbar-width: thin;
    scrollbar-color: #5c5c5c #aaaaaa;
}

#bold {
    font-family: $RobotoBold;
}

.name-player a {
    text-decoration: none;
    color: white;
    max-width: fit-content;
}

.name-player p {
    padding: 4px;

    &:hover {
        background-color: $secondary-color-grey;
        border-radius: 8px;
    }
}

@media (min-width: 1400px) {
    .toggle-button {
        display: none;
    }

    .home-left {
        width: 30%;
        max-width: 30%;
    }

    .home-right {
        width: 70%;
    }
}

@media (max-width: 1400px) {
    .home-left, .home-right {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
        height: calc(100vh - 110px);
    }

    .home-left.hide, .home-right.hide {
        transform: translateX(-100%);
        opacity: 0;
    }

    .home-left.show, .home-right.show {
        transform: translateX(0);
        opacity: 1;
    }

    .toggle-button {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .toggle-button::before {
        content: '←';
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        display: block;
    }

    .show-left .toggle-button::before {
        content: '→';
    }
}