@font-face {
    font-family: RobotoRegular;
    src: url(/static/Font/Roboto-Regular.ttf);
  }
  
@font-face {
  font-family: RobotoBold;
    src: url(/static/Font/Roboto-Bold.ttf);
}

@font-face {
  font-family: Beligerent;
    src: url(/static/Font/belligerent.ttf);
}
    
$RobotoRegular: RobotoRegular;
$RobotoBold: RobotoBold;
$Beligerent: Beligerent;

$h1-size-pc: 60px;
$p-size-pc: 27px;
$p-size-pc-mid: 25px;
$h1-size-mb: 40px;
$p-size-mb: 20px;
$h1-size-sb: 35px;
$p-size-sb: 17px;
$button-size-pc: 18px;
$h2-size-pc: 40px;
$h2-size-mb: 30px;

$primary-color-black: #23252B;
$secondary-color-purple: #A000C7;
$secondary-color-white: white;
$secondary-color-grey: #36383B;
$secondary-color-grey-secondary: #3a3a3a;
$secondary-color-grey-white: #9A9A9A;
$green: rgb(42, 255, 34);

$big-margin-top-pc: 80px;
$big-margin-bottom-pc: 80px;
$medium-margin-bottom-pc: 40px;
$medium-margin-top-pc: 40px;
$small-margin-top-pc: 30px;
$small-margin-bottom-pc: 30px;
/*
$big-margin-top-mb: px;
$big-margin-bottom-mb: px;
*/
$medium-margin-bottom-mb: 25px;
$medium-margin-top-mb: 25px;
$small-margin-top-mb: 20px;
$small-margin-bottom-mb: 20px;


$big-margin-left-pc: 8px;
$big-margin-right-pc: 8px;
$border-margin-left-pc: 15px;
$border-margin-right-pc: 15px;
/*
$big-margin-left-mb: px;
$big-margin-right-mb: px;*/