{% extends 'layout.html' %}

{% block title %}Erreur 404{% endblock %}

{% block styles %}
    <link href="../static/404/404.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="glow"></div>
        <h1 class="h1-404">404</h1>
        <p class="p-404">Désolé, mais la page que vous recherchez n'existe pas</p>
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const circle = document.querySelector('.glow');
        const pageContent = document.querySelector('.page-content');

        function getRandomPosition() {
            const x = Math.random() * (pageContent.clientWidth - circle.clientWidth);
            const y = Math.random() * (pageContent.clientHeight - circle.clientHeight);
            return { x, y };
        }

        function moveCircle() {
            const { x, y } = getRandomPosition();
            circle.style.top = `${y}px`;
            circle.style.left = `${x}px`;
        }

        function continuousMove() {
            moveCircle();
            setTimeout(continuousMove, 3000);
        }

        moveCircle();
        continuousMove();
    });
</script>
{% endblock %}
