{% extends 'layout.html' %}

{% block styles %}
    <meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/error404">
    <link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/error404">
    <link href="../static/404/404.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "404 - Frozen Liste",
            "url": "https://lafrozenliste.eu.pythonanywhere.com/error404",
            "description": "Classement des niveaux Extreme et Insane Demon réussis par les joueurs de la Frozen Team.",
            "author": {
                "@type": "Organization",
                "name": "Saoshirax"
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="wrapper">
            <div class="glow"></div>
            <h1 class="h1-404"><span>404</span></h1>
            <p class="p-404">Désolé, mais la page que vous recherchez n'existe pas.</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

