{% extends 'layout.html' %}

{% block styles %}
    <meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/admin">
    <link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/admin">
    <link href="../static/admin/admin.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Admin - Frozen Liste",
            "url": "https://lafrozenliste.eu.pythonanywhere.com/admin",
            "description": "Classement des niveaux Extreme et Insane Demon réussis par les joueurs de la Frozen Team.",
            "author": {
                "@type": "Organization",
                "name": "Saoshirax"
            }
        }
    </script>
{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Créer un Niveau</h1>
    <form action="/ajouter_niveau" method="post" enctype="multipart/form-data">
        <label for="id_niveau">ID du niveau:</label><br>
        <input type="number" id="id_niveau" name="id_niveau" min="1" required><br>
        <label for="nom_niveau">Nom du niveau:</label><br>
        <input type="text" id="nom_niveau" name="nom_niveau" required><br>
        <label for="createurs">Créateurs:</label><br>
        <input type="text" id="createurs" name="createurs" required><br>
        <label for="verificateur">Vérificateur:</label><br>
        <input type="text" id="verificateur" name="verifier" required><br>
        <label for="publieur">Publieur:</label><br>
        <input type="text" id="publieur" name="publieur" required><br>
        <label for="classement">Classement:</label><br>
        <input type="number" id="classement" name="classement" min="1" required><br>
        <label for="mot_de_passe">Mot de passe:</label><br>
        <input type="text" id="mot_de_passe" name="mot_de_passe" required><br>
        <label for="video_url">Url de l'iframe de la vidéo de vérification (embed):</label><br>
        <input type="url" id="video_url" name="video_url" required><br>
        <label for="image_file">Image du niveau:</label>
        <td><a href="https://ytshorts.savetube.me/fr/10" target="_blank">Récuperer la miniature</a></td><br>
        <input type="file" id="image_file" name="image_file" accept="image/*" required><br>
        <label for="minutes">Durée (minutes):</label><br>
        <input type="number" id="minutes" name="minutes" min="0" required><br>
        <label for="seconds">Durée (secondes):</label><br>
        <input type="number" id="seconds" name="seconds" min="0" max="59" required><br>
        <input type="submit" value="Créer Niveau">
    </form>
    <br>
    <h1>Supprimer un Niveau</h1>
    <form action="/supprimer_niveau" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce niveau ?')">
        <label for="nom_niveau">Nom du niveau:</label><br>
        <input type="text" id="nom_niveau" name="nom_niveau" required><br>
        <input type="submit" value="Supprimer Niveau"><br>
    </form>
    <br>
    <h1>Supprimer une Réussite de Niveau</h1>
    <form action="/supprimer_reussite" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette réussite ?')">
        <label for="nom_joueur">Nom du joueur:</label><br>
        <input type="text" id="nom_joueur" name="nom_joueur" required><br>
        <label for="nom_niveau">Nom du niveau:</label><br>
        <input type="text" id="nom_niveau" name="nom_niveau" required><br>
        <input type="submit" value="Supprimer Réussite"><br>
    </form>
    <br>
    <h1>Modifier l'image d'un Niveau</h1>
    <form action="/modifier_image_niveau" method="post" enctype="multipart/form-data" onsubmit="return confirm('Êtes-vous sûr de vouloir modifier l\'image de ce niveau ?')">
        <label for="nom_niveau">Nom du niveau:</label><br>
        <input type="text" id="nom_niveau" name="nom_niveau" required><br>
        <label for="image_file">Nouvelle image du niveau:</label><br>
        <input type="file" id="image_file" name="image_file" accept="image/*" required><br>
        <input type="submit" value="Mettre à jour l'image"><br>
    </form>
    <br>
    <h1>Modifier l'ordre des Niveaux</h1>
    <form action="/modifier_ordre_niveaux" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir modifier l\'ordre de ce niveau ?')">
        <label for="nom_niveau">Nom du niveau:</label><br>
        <input type="text" id="nom_niveau" name="nom_niveau" required><br>
        <label for="new_classement">Nouveau classement:</label><br>
        <input type="number" id="new_classement" name="new_classement" min="1" required><br>
        <input type="submit" value="Mettre à jour le classement"><br>
    </form>
    <br>
    <h1>Liste des Niveaux</h1>
    <ul>
        {% for niveau in niveaux %}
            <li>{{ niveau[1] }} - Classement actuel : {{ niveau[7] }} - nombre points : {{ niveau[6] }}</li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <h2>Soumissions en Attente</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Joueur</th>
                <th>Niveau</th>
                <th>Créateur</th>
                <th>Vidéo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
            <tr>
                <form method="POST" action="{{ url_for('valider_record') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir valider cette soumission ?')">
                    <td>{{ submission[0] }}</td>
                    <td><input type="text" name="joueur_nom" value="{{ submission[1] }}" required></td>
                    <td><input type="text" name="niveau_nom" value="{{ submission[2] }}" required></td>
                    <td>{{ submission[3] }}</td>
                    <td><a href="{{ submission[4] }}" target="_blank">Voir la vidéo</a></td>
                    <td>
                        <input type="hidden" name="submission_id" value="{{ submission[0] }}">
                        <button type="submit">Valider</button>
                    </td>
                </form>
                <td>
                    <form method="POST" action="{{ url_for('refuser_record') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir refuser cette soumission ?')">
                        <input type="hidden" name="submission_id" value="{{ submission[0] }}">
                        <button type="submit">Refuser</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
