{% extends 'layout.html' %}

{% block styles %}
    <meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/classement">
    <link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/classement">
    <link href="../static/classement/classement.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Classement des joueurs - Frozen Liste",
            "url": "https://lafrozenliste.eu.pythonanywhere.com/classement",
            "description": "Classement des niveaux Extreme et Insane Demon réussis par les joueurs de la Frozen Team.",
            "author": {
                "@type": "Organization",
                "name": "Saoshirax"
            }
        }
    </script>
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="wrapper">
        <div class="home-left">
            <div class="searchinput-container">
                <div class="inputbackground">
                    <input class="searchInput" type="text" id="searchInput" onkeyup="filterLevels()" placeholder="Rechercher" autocomplete="off" spellcheck="false">
                </div>
            </div>
            <div class="home-left-container">
                <ul id="levelsList">
                    {% for joueur_item in joueurs %}
                        <div class="classement_nom_du_joueur">
                            <p class="classement_nom_du_joueur_position">#{{ loop.index }}</p>
                            <a class="home-right-container-wrapper {% if joueur_item[1] == selected_joueur %}selected{% endif %}" href="{{ url_for('joueur', nom=joueur_item[1]) }}">
                                <span class="classement_nom_du_joueur_nom">{{ joueur_item[1] }}</span>
                            </a>
                            <p class="home-right-container-paragraph">{{ joueur_item[2] }} points</p>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="home-right">
            <div class="home-right-container">
                <div class="home-right-wrapper">
                    <div class="home-right-wrapper-classement-joueur">
                        <p><span id="bold">#{{ joueur_classement }}</span></p>
                        <h1 class="title"><span id="bold">{{ joueur[1] }}</span></h1>
                    </div>
                    <p class="home-right-points-joueurs">Points: <span id="bold">{{ joueur[2] }}</span></p>
                    <h2 class="h2">Niveaux réussis:</h2>
                    <div class="reussites">
                        <ul>
                            {% for reussite in reussites|reverse %}
                                <li class="reussite-classement">
                                    <div>
                                        <p>#{{ reussite[3] }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            {% for reussite in reussites|reverse %}
                                <li class="reussite2">
                                    <div>                                     
                                        <a href="{{ url_for('niveau', nom_niveau=reussite[0]) }}">
                                            <p>{{ reussite[0] }}</p>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>                        
                        <ul class="logoyt-container">
                            {% for reussite in reussites|reverse %}
                                <li class="logo-yt">
                                    <a class="victoires-joueur-vid-link" target="_blank" href="{{ reussite[2] }}">
                                        <img class="logoyt" src="{{ url_for('static', filename='pictures/logo_youtube.svg') }}" alt="YouTube Video">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            {% for reussite in reussites|reverse %}
                                <li class="reussite">
                                    <div>
                                        <p><span id="bold">+{{ reussite[1] }}</span> points</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="glow"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function filterLevels() {
        var input = document.getElementById('searchInput');
        var filter = input.value.toUpperCase();
        var levelsList = document.getElementById('levelsList');
        var levels = levelsList.getElementsByClassName('classement_nom_du_joueur');

        for (var i = 0; i < levels.length; i++) {
            var joueurName = levels[i].getElementsByClassName('classement_nom_du_joueur_nom')[0];
            if (joueurName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                levels[i].style.display = '';
            } else {
                levels[i].style.display = 'none';
            }
        }
    }
</script>
{% endblock %}