{% extends 'layout.html' %}

{% block title %}Page de connexion pour les administrateur{% endblock %}

{% block styles %}
    <link href="../static/connexion/connexion.scss" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2>Connexion</h2>
    <form action="/connexion" method="POST">
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Se connecter">
    </form>
{% endblock %}
