{% extends 'layout.html' %}

{% block styles %}
    <meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/creer_compte">
    <link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/creer_compte">
    <link href="../static/creer_compte/creer_compte.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Creer un compte - Frozen Liste",
            "url": "https://lafrozenliste.eu.pythonanywhere.com/creer_compte",
            "description": "Classement des niveaux Extreme et Insane Demon réussis par les joueurs de la Frozen Team.",
            "author": {
                "@type": "Organization",
                "name": "Saoshirax"
            }
        }
    </script>
{% endblock %}

{% block content %}
<div class="page-content">
    <h1>Créer un compte</h1>
    <form action="/creer_compte" method="POST">
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Créer le compte">
    </form>
</div>
{% endblock %}
