{% extends 'layout.html' %}

{% block title %}Page de création de compte administrateur{% endblock %}

{% block styles %}
    <link href="../static/creer_compte/creer_compte.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="page-content">
    <h2>Créer un compte</h2>
    <form action="/creer_compte" method="POST">
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Créer le compte">
    </form>
</div>
{% endblock %}
