{% extends 'layout.html' %}

{% block title %}HomePage{% endblock %}

{% block styles %}
    <link href="../static/Home/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="wrapper">
        <div class="home-left">
            <ul>
                {% for niveau in niveaux %}
                    <li onclick="location.href='/liste/{{ niveau[3] }}'">
                        {{ niveau[3] }} - {{ niveau[1] }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="home-right">
            <ul>
                {% for niveau in niveaux %}
                    <li>
                        <h3> Nom du niveau: {{ niveau[1] }}</h3>
                        <p>Créateur: {{ niveau[2] }}</p>
                        <p>Classement: {{ niveau[3] }}</p>
                        <iframe loading="lazy" width="560" height="315" src="{{ niveau[4] }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
