{% extends 'layout.html' %}

{% block styles %}
<meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/submit_record">
<link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/submit_record">
<link href="../static/Home/home.css" rel="stylesheet">
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "name": "Home - Frozen Liste",
        "url": "https://lafrozenliste.eu.pythonanywhere.com/liste",
        "description": "Classement des niveaux Extreme et Insane Demon réussis par les joueurs de la Frozen Team.",
        "author": {
            "@type": "Organization",
            "name": "Saoshirax"
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="wrapper">
        <div class="home-left">
            <div class="searchinput-container">
                <div class="inputbackground">
                    <input class="searchInput" type="text" id="searchInput" onkeyup="filterLevels()" placeholder="Rechercher par nom" autocomplete="off" spellcheck="false">
                </div>
                <div class="inputbackground">
                    <select id="dureeFilter" onchange="filterLevels()">
                        <option value="">Toutes les durées</option>
                        <option value="Tiny">Tiny</option>
                        <option value="Short">Short</option>
                        <option value="Long">Long</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                </div>
            </div>
            <div class="home-left-container">
                <ul id="levelsList">
                    {% for niveau in niveaux %}
                        <div class="classement_nom_du_niveau">
                            <p class="classement_nom_du_niveau_classement">#{{ niveau[3] }}</p>
                            <li class="lien-vers-niveau" onclick="location.href='/liste/{{ niveau[1] }}'">
                                <p class="classement_nom_du_niveau_nom_du_niveau">{{ niveau[1] }}</p>
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="home-right">
            <ul class="home-right-home-container">
                {% for niveau in niveaux %}
                    <li class="container1" onclick="location.href='/liste/{{ niveau[1] }}'">
                        <img class="iframe_minia" width="560" height="315" src="{{ niveau[4] }}"></img>
                        <div class="container2">
                            <div class="container3">
                                <h2>#{{ niveau[3] }}:</h2>
                                <div class="display">
                                    <h2>{{ niveau[1] }}</h2>
                                    <p>{{ niveau[2] }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>             
    </div>
    <div class="glow"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
function filterLevels() {
    var nom = document.getElementById('searchInput').value;
    var duree = document.getElementById('dureeFilter').value;
    
    fetch(`/api/niveaux?nom=${encodeURIComponent(nom)}&duree=${encodeURIComponent(duree)}`)
        .then(response => response.json())
        .then(data => {
            var levelsList = document.getElementById('levelsList');
            levelsList.innerHTML = '';

            data.forEach(function(niveau, index) {
                var li = document.createElement('li');
                li.className = 'classement_nom_du_niveau';
                li.innerHTML = `
                    <p class="classement_nom_du_niveau_classement">#${index + 1}</p>
                    <div class="lien-vers-niveau" onclick="location.href='/liste/${niveau.nom}'">
                        <p class="classement_nom_du_niveau_nom_du_niveau">${niveau.nom}</p>
                    </div>
                `;
                levelsList.appendChild(li);
            });
        });
}
</script>
{% endblock %}
