{% extends 'layout.html' %}

{% block styles %}
    <meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/information">
    <link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/information">
    <link href="../static/information/information.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Frozen Liste",
            "url": "https://lafrozenliste.eu.pythonanywhere.com/information",
            "description": "Classement des niveaux Extreme et Insane Demon réussis par les joueurs de la Frozen Team.",
            "author": {
                "@type": "Organization",
                "name": "Saoshirax"
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="wrapper">
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
