{% extends 'layout.html' %}

{% block styles %}
    <meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/information">
    <link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/information">
    <link href="../static/information/information.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Information - Frozen Liste",
            "url": "https://lafrozenliste.eu.pythonanywhere.com/information",
            "description": "Classement des niveaux Extreme et Insane Demon réussis par les joueurs de la Frozen Team.",
            "author": {
                "@type": "Organization",
                "name": "Saoshirax"
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="wrapper">
            <div class="information">
                <h1 class="h2 h1">Information:</h1>
                <p>Ce site est une application web qui permet de voir tous les niveaux Extreme et Insane Demon réussis par des joueurs français. Le site a été créé par Saoshirax.</p>
                <!--<p>Si vous avez les moyens de soutenir ce projet, n'hésitez pas à vous rendre sur la page Tipeee : </p>      
                <a target="_blank" href="https://fr.tipeee.com/la-frozen-liste/">
                    <img class="img_logo_tipeee" src="{{ url_for('static', filename='pictures/logo_tipeee.png') }}" alt="Logo de Tipeee">
                </a>   -->       
            </div>
            <div class="Lien">
                <h2 class="h2">Lien du dépôt GitHub:</h2>
                <a class="link_logo_github" target="_blank" href="https://github.com/TimeoBlondeleauDubois/Frozen-Liste">
                    <img class="img_logo_github" src="{{ url_for('static', filename='pictures/GitHub.png') }}" alt="Logo de Github">
                </a>  
            </div>
            <div class="contacter">
                <h2 class="h2">Me contacter:</h2>
                <div class="section">
                    <img class="img_logo_linkedin" src="{{ url_for('static', filename='pictures/discord.svg') }}" alt="Logo de Discord">
                    <p class="TimeoBlondeleau">: Saoshirax</p>
                </div>
                <div class="section">
                    <img class="img_logo_mail" src="{{ url_for('static', filename='pictures/mail.png') }}" alt="Logo de Gmail">
                    <p>: saoshirax@gmail.com</p>
                </div>
                <div class="section">
                    <a target="_blank" href="https://www.instagram.com/timeo_blondeleau/">
                        <img class="img_logo_instagram" src="{{ url_for('static', filename='pictures/Instagram.png') }}" alt="Logo de instagram">
                    </a>  
                    <p class="TimeoBlondeleau">: timeo_blondeleau</p>
                </div>
                <div class="section">
                    <a class="link-logo-yt" target="_blank" href="https://www.youtube.com/c/SaoGD">
                        <img class="img_logo_yt" src="{{ url_for('static', filename='pictures/logo_youtube.svg') }}" alt="Logo de YouTube">
                    </a>  
                    <p class="saoshirax">: Saoshirax</p>
                </div>
            </div>
        </div>
        <div class="glow"></div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
