<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Frozen Liste</title>
    <link href="../static/reset.css" rel="stylesheet">
    {% block styles %}{% endblock %}
    <link href="../static/layout/layout.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='pictures/icon.png') }}">
</head>
<body>
    <header>
        <div class="mobile">
            <div class="nav-background"></div>
            <a href="/home" class="logo">
                <img src="{{ url_for('static', filename='pictures/logo.png') }}" alt="Logo de la Frozen Liste">
            </a>
            <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
            <label for="menu-icon"></label>
            <nav class="nav"> 		
                <ul class="pt-5">
                    <li><a {% if active_page == 'home' %}class="class-home"{% endif %} href="/home">Liste</a></li>
                    <li><a {% if active_page == 'classement' %}class="class-classement"{% endif %} href="/classement">Classement</a></li>
                    <li><a {% if active_page == 'information' %}class="class-information"{% endif %} href="/information">Information</a></li>
                    <li><a {% if active_page == 'envoyerunevideo' %}class="class-submit-record"{% endif %} href="/submit_record">Envoyer une vidéo</a></li>
                    <li><a class="lien-logo-discord" href="https://discord.gg/X5H7XFTtmA" target="_blank"><img class="logo-discord" src="{{ url_for('static', filename='pictures/discord.svg') }}" alt="Logo discord"></a></li>
                </ul>
            </nav>
        </div>
        <div class="pc">
            <div class="nav-pc">
                <div class="nav-bar-pc-wrapper">
                    <a href="/home" class="link-logo-pc"><img class="logo-pc" src="{{ url_for('static', filename='pictures/logo.png') }}" alt="Logo de la Frozen Liste"></a>
                    <div class="nav-pc-container1">
                        <a class="home-pc {% if active_page == 'home' %}class-home-pc{% endif %}" href="/home">Liste</a>
                        <a class="classement-pc {% if active_page == 'classement' %}class-classement-pc{% endif %}" href="/classement">Classement</a>
                        <a class="submit-record-pc {% if active_page == 'envoyerunevideo' %}class-submit-record-pc{% endif %}" href="/submit_record">Envoyer une vidéo</a>
                        <a class="information-pc {% if active_page == 'information' %}class-information-pc{% endif %}" href="/information">Information</a>
                    </div>
                    <div class="nav-pc-container2">
                        <a class="lien-logo-discord-pc" href="https://discord.gg/X5H7XFTtmA" target="_blank"><img class="logo-discord" src="{{ url_for('static', filename='pictures/discord.svg') }}" alt="Logo discord"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer></footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const circle = document.querySelector('.glow');
            const pageContent = document.querySelector('.page-content');
    
            setTimeout(() => {
                circle.classList.add('visible');
            }, 2000);
    
            function getRandomPosition() {
                const x = Math.random() * (pageContent.clientWidth - circle.clientWidth);
                const y = Math.random() * (pageContent.clientHeight - circle.clientHeight);
                return { x, y };
            }
    
            function moveCircle() {
                const { x, y } = getRandomPosition();
                circle.style.top = `${y}px`;
                circle.style.left = `${x}px`;
            }
    
            function continuousMove() {
                moveCircle();
                setTimeout(continuousMove, 3000);
            }
    
            moveCircle();
            continuousMove();
        });
        function adjustHeight() {
            const headerHeight = document.querySelector('header').offsetHeight;
            const footerHeight = document.querySelector('footer').offsetHeight;
            const mainContent = document.querySelector('.page-content');
            mainContent.style.minHeight = `calc(100vh - ${headerHeight + footerHeight}px)`;
        }

        window.addEventListener('DOMContentLoaded', adjustHeight);
        window.addEventListener('resize', adjustHeight);
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
