{% extends 'layout.html' %}

{% block styles %}
<link href="../static/home/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="wrapper">
        <div class="home-left">
            <div class="home-left-container">
                <div class="search-container">
                    <input class="searchInput" type="text" id="searchInput" onkeyup="filterLevels()" placeholder="Rechercher" autocomplete="off">
                </div>
                <ul id="levelsList">
                    {% for classementniveaux in classementniveaux %}
                        <div class="classement_nom_du_niveau">
                            <p class="classement_nom_du_niveau_classement">#{{ classementniveaux[3] }}</p>
                            <li class="lien-vers-niveau" onclick="location.href='/liste/{{ classementniveaux[3] }}'">
                                <p class="classement_nom_du_niveau_nom_du_niveau {% if classementniveaux[3] == niveau[4] %} selected-level{% endif %}">{{ classementniveaux[1] }}   <p>
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="home-right">
            <h2>Détails du Niveau</h2>
            <h3>Nom du niveau: {{ niveau[0] }}</h3>
            <p>Créateur: {{ niveau[1] }}</p>
            <p>Vérificateur: {{ niveau[2] }}</p>
            <p>Publieur: {{ niveau[3] }}</p>
            <p>Classement: {{ niveau[4] }}</p>
            <p>Points: {{ niveau[6] }}</p>
            <p>ID Niveau: {{ niveau[5] }}</p>
            <p>Mot de Passe: {{ niveau[7] }}</p>
            <p>Victoires: {{ niveau[9] }}</p>
            <iframe width="560" height="315" src="{{ niveau[8] }}" allowfullscreen></iframe>

            <h2>Victoires</h2>
            <ul>
                {% for victoire in victoires %}
                    <li>
                        <p>Nom du joueur: {{ victoire[0] }}</p>
                        <a href="{{ victoire[1] }}">lien de la vidéo</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function filterLevels() {
        var input = document.getElementById('searchInput');
        var filter = input.value.toUpperCase();

        var levelsList = document.getElementById('levelsList');
        var levels = levelsList.getElementsByClassName('classement_nom_du_niveau');

        for (var i = 0; i < levels.length; i++) {
            var levelName = levels[i].getElementsByClassName('classement_nom_du_niveau_nom_du_niveau')[0];
            if (levelName.innerHTML.toUpperCase().indexOf(filter) > -1) {
                levels[i].style.display = '';
            } else {
                levels[i].style.display = 'none';
            }
        }
    }
</script>
{% endblock %}
