{% extends 'layout.html' %}

{% block styles %}
<meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/liste">
<link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/liste">
<link href="../static/Home/home.css" rel="stylesheet">
<link href="../static/Home/res_level.css" rel="stylesheet">
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "name": "Level - Frozen Liste",
        "url": "https://lafrozenliste.eu.pythonanywhere.com/liste",
        "description": "Classement des niveaux Extreme et Insane Demon réussis par les joueurs de la Frozen Team.",
        "author": {
            "@type": "Organization",
            "name": "Saoshirax"
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="glow"></div>
    <div class="wrapper">
        <div class="toggle-buttons">
            <button class="button_switcher" id="toggleView"><img class="fleche" src="{{ url_for('static', filename='pictures/fleche.png') }}"></img></button>
        </div>
        <div class="home-left">
            <div class="searchinput-container">
                <div class="inputbackground">
                    <input class="searchInput" type="text" id="searchInput" onkeyup="filterLevels()" placeholder="Rechercher" autocomplete="off" spellcheck="false">
                </div>
                <div class="inputbackground">
                    <div class="dropdown">
                        <button class="dropbtn" onclick="toggleDropdown()"><span id="dureeLabel">Durée</span></button>
                        <ul class="dropdown-content" id="dureeFilter">
                            <div class="dropdown-container">
                                <li data-value="" onclick="selectDuration(this)">Tous</li>
                                <li data-value="Short" onclick="selectDuration(this)">Short</li>
                                <li data-value="Long" onclick="selectDuration(this)">Long</li>
                                <li data-value="XL" onclick="selectDuration(this)">XL</li>
                                <li data-value="XXL" onclick="selectDuration(this)">XXL</li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="home-left-container">
                <ul id="levelsList">
                    {% for classementniveaux in classementniveaux %}
                    <li class="classement_nom_du_niveau">
                        <p class="classement_nom_du_niveau_classement">#{{ loop.index }}</p>
                        <div class="lien-vers-niveau" onclick="location.href='/liste/{{ classementniveaux[1] }}'">
                            <p class="classement_nom_du_niveau_nom_du_niveau {% if classementniveaux[3] == niveau[4] %} selected-level{% endif %}">
                                {{ classementniveaux[1] }}
                            </p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="home-right">
            <div class="home-right-container">
                <div class="home-right-wrapper">
                    <h1 class="title"><span id="bold">{{ niveau[0] }}</span></h1>
                    <p>Créer par <span id="bold">{{ niveau[1] }}</span></p>
                    <p>Vérifier par <span id="bold">{{ niveau[2] }}</span></p>
                    <p>Publier par <span id="bold">{{ niveau[3] }}</span></p>
                    <iframe class="iframe" src="{{ niveau[8] }}" allowfullscreen></iframe>
                    <div class="wrapper-top">
                        <p>Nombre de points: <span id="bold">{{ niveau[6] }}</span></p>
                        <p>ID du niveau: <span id="bold">{{ niveau[5] }}</span></p>
                    </div>
                    <div class="wrapper-bottom">
                        <p>Durée du niveau: <span id="bold">{{ niveau[10] }}min {{ niveau[11] }}sec</span></p>
                        <p>Mot de Passe: <span id="bold">{{ niveau[7] }}</span></p>
                    </div>
                    <h2 class="h2">Victoires: {{ niveau[9] }}</h2>
                    <div class="victoires">
                        <ul class="align-self">
                            {% for victoire in victoires %}
                            <li class="position">
                                <p>#{{ loop.index }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        <ul>
                            {% for victoire in victoires %}
                            <li class="name-player">
                                <div>
                                    <a href="/classement/{{ victoire[0] }}" class="joueur-link">
                                        <p>{{ victoire[0] }}</p>
                                    </a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <ul class="logoyt-container">
                            {% for victoire in victoires %}
                            <li class="logo-yt">
                                <a class="victoires-joueur-vid-link" target="_blank" href="{{ victoire[1] }}">
                                    <img class="logoyt" src="{{ url_for('static', filename='pictures/logo_youtube.svg') }}" alt="YouTube Video">
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const homeLeft = document.querySelector('.home-left');
    const homeRight = document.querySelector('.home-right');
    const selectedLevel = localStorage.getItem('selectedLevel');
    const scrollPosition = localStorage.getItem('scrollPosition');
    const searchInputValue = localStorage.getItem('searchInputValue');
    const selectedDuration = localStorage.getItem('selectedDuration');
    const toggleViewButton = document.getElementById('toggleView');

    if (selectedLevel) {
        document.querySelectorAll('.classement_nom_du_niveau_nom_du_niveau').forEach((element) => {
            if (element.textContent.trim() === selectedLevel) {
                element.classList.add('selected-level');
            }
        });
    }

    if (scrollPosition) {
        homeLeft.scrollTop = scrollPosition;
    }

    if (searchInputValue) {
        document.getElementById('searchInput').value = searchInputValue;
    }

    if (selectedDuration) {
        document.querySelectorAll('.dropdown-content li').forEach((element) => {
            if (element.dataset.value === selectedDuration) {
                element.classList.add('selected');
                document.getElementById("dureeLabel").innerText = element.innerText;
            }
        });
    }

    filterLevels();

    document.querySelectorAll('.lien-vers-niveau').forEach((element) => {
        element.addEventListener('click', (event) => {
            const levelName = element.querySelector('.classement_nom_du_niveau_nom_du_niveau').textContent.trim();

            document.querySelectorAll('.classement_nom_du_niveau_nom_du_niveau').forEach((el) => {
                el.classList.remove('selected-level');
            });

            element.querySelector('.classement_nom_du_niveau_nom_du_niveau').classList.add('selected-level');

            localStorage.setItem('selectedLevel', levelName);
            localStorage.setItem('scrollPosition', homeLeft.scrollTop);

            setTimeout(() => {
                window.location.href = `/liste/${levelName}`;
            }, 100);
        });
    });

    document.getElementById('searchInput').addEventListener('input', (event) => {
        localStorage.setItem('searchInputValue', event.target.value);
        filterLevels();
    });

    homeLeft.addEventListener('scroll', (event) => {
        localStorage.setItem('scrollPosition', homeLeft.scrollTop);
    });

    localStorage.removeItem('scrollPosition');

    toggleViewButton.addEventListener('click', () => {
        if (homeLeft.classList.contains('show')) {
            homeLeft.classList.remove('show');
            homeLeft.classList.add('hide');
            homeRight.classList.add('show');
            homeRight.classList.remove('hide');
        } else {
            homeRight.classList.remove('show');
            homeRight.classList.add('hide');
            homeLeft.classList.add('show');
            homeLeft.classList.remove('hide');
        }
    });

    homeRight.classList.add('show');
    homeLeft.classList.add('hide');

    function adjustVisibility() {
        const homeLeft = document.querySelector('.home-left');
        const homeRight = document.querySelector('.home-right');
    
        if (window.innerWidth < 700) {
            homeLeft.classList.add('hide');
            homeRight.classList.remove('hide');
        } else {
            homeLeft.classList.remove('hide');
            homeRight.classList.remove('hide');
        }
    }
    
    window.addEventListener('resize', adjustVisibility);
    adjustVisibility();
});

function selectDuration(element) {
    var selectedValue = element.dataset.value;
    var label = selectedValue ? element.innerText : "Durée";
    document.getElementById("dureeLabel").innerText = label;
    document.getElementById("dureeFilter").classList.remove("show");

    document.querySelectorAll('.dropdown-content li').forEach(function(el) {
        el.classList.remove('selected');
    });
    element.classList.add('selected');

    localStorage.setItem('selectedDuration', selectedValue);

    filterLevels();
}

function toggleDropdown() {
    document.getElementById("dureeFilter").classList.toggle("show");
}

document.addEventListener('click', function(event) {
    var dropdown = document.getElementById("dureeFilter");
    if (!event.target.closest('.dropbtn')) {
        dropdown.classList.remove('show');
    }
});

function filterLevels() {
    var nom = document.getElementById('searchInput').value;
    var duree = localStorage.getItem('selectedDuration') || '';

    fetch(`/api/niveaux?nom=${encodeURIComponent(nom)}&duree=${encodeURIComponent(duree)}`)
        .then(response => response.json())
        .then(data => {
            var levelsList = document.getElementById('levelsList');
            levelsList.innerHTML = '';

            const selectedLevel = localStorage.getItem('selectedLevel');

            data.forEach(function(niveau) {
                var li = document.createElement('li');
                li.className = 'classement_nom_du_niveau';
                li.innerHTML = `
                    <p class="classement_nom_du_niveau_classement">#${niveau.classement}</p>
                    <div class="lien-vers-niveau" onclick="selectLevel('${niveau.nom}')">
                        <p class="classement_nom_du_niveau_nom_du_niveau ${selectedLevel === niveau.nom ? 'selected-level' : ''}">${niveau.nom}</p>
                    </div>
                `;
                levelsList.appendChild(li);
            });

            document.querySelectorAll('.lien-vers-niveau').forEach((element) => {
                element.addEventListener('click', (event) => {
                    const levelName = element.querySelector('.classement_nom_du_niveau_nom_du_niveau').textContent.trim();

                    document.querySelectorAll('.classement_nom_du_niveau_nom_du_niveau').forEach((el) => {
                        el.classList.remove('selected-level');
                    });

                    element.querySelector('.classement_nom_du_niveau_nom_du_niveau').classList.add('selected-level');

                    localStorage.setItem('selectedLevel', levelName);

                    window.location.href = `/liste/${levelName}`;
                });
            });
        });
}

function selectLevel(levelName) {
    document.querySelectorAll('.selected-level').forEach((el) => {
        el.classList.remove('selected-level');
    });

    document.querySelector(`.classement_nom_du_niveau_nom_du_niveau:contains("${levelName}")`).classList.add('selected-level');

    localStorage.setItem('selectedLevel', levelName);
}

document.querySelectorAll('.dropdown-content li').forEach(function(item) {
    item.addEventListener('click', function() {
        document.querySelectorAll('.dropdown-content li').forEach(function(el) {
            el.classList.remove('selected');
        });
        this.classList.add('selected');
        selectDuration(this); 
    });
});

document.getElementById('searchInput').addEventListener('input', filterLevels);

document.addEventListener('DOMContentLoaded', (event) => {
    const toggleViewButton = document.getElementById('toggleView');
    const fleche = document.querySelector('.fleche');

    toggleViewButton.addEventListener('click', () => {
        fleche.classList.toggle('rotated');
    });
});
</script>
{% endblock %}
