{% extends 'layout.html' %}

{% block styles %}
    <meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/submit_record">
    <link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/submit_record">
    <link href="../static/submit_record_correctement_envoyer/submit_record_correctement_envoyer.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Frozen Liste",
            "url": "https://lafrozenliste.eu.pythonanywhere.com/submit_record",
            "description": "Classement des niveaux Extreme et Insane Demon réussis par les joueurs de la Frozen Team.",
            "author": {
                "@type": "Organization",
                "name": "Saoshirax"
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="glow"></div>
        <div class="wrapper">
            <h1>Merci d'avoir soumis votre enregistrement !</h1>
            <p>Votre enregistrement a bien été envoyé.</p>
            <button class="button-home" onclick="window.location.href='/home';">Retourner sur </br> la liste</button>
            <button class="button-submit-record" onclick="window.location.href='/submit_record';">Envoyer un autre enregistrement</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

