{% extends 'layout.html' %}

{% block title %}Soumettre un Record{% endblock %}

{% block styles %}
    <link href="../static/submit_record/submit_record.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="wrapper">
            <form class="form" method="POST">
                <h1 class="h1-submit" >Soumettre un record</h1>
                <div class="question">
                    <input class="input-nom-joueur-submit" type="text" id="joueur_nom" name="joueur_nom" required><br><br>
                    <label class="p-nom-joueur-submit" for="joueur_nom">Nom du Joueur:</label>
                </div>
                <div class="question">
                    <input class="input-nom-niveau-submit" type="text" id="niveau_nom" name="niveau_nom" required><br><br>
                    <label class="p-nom-niveau-submit" for="niveau_nom">Nom du Niveau:</label>
                </div>
                <div class="question">
                    <input class="input-nom-createur-submit" type="text" id="createur" name="createur" required><br><br>
                    <label class="p-nom-createur-submit" for="createur">Créateur du Niveau:</label>
                </div>
                <div class="question">
                    <input class="input-url-submit" type="url" id="video_url" name="video_url" required><br><br>
                    <label class="p-url-submit" for="video_url">URL de la Vidéo:</label>
                </div>
                <button class="input-submit-submit" type="submit">Soumettre</button>
            </form>
        </div>
        <div class="glow"></div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
