{% extends 'layout.html' %}

{% block styles %}
    <meta property="og:url" content="https://lafrozenliste.eu.pythonanywhere.com/submit_record">
    <link rel="canonical" href="https://lafrozenliste.eu.pythonanywhere.com/submit_record">
    <link href="../static/submit_record/submit_record.css" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Soumettre un record - Frozen Liste",
            "url": "https://lafrozenliste.eu.pythonanywhere.com/submit_record",
            "description": "Soumettez vos records des niveaux Extreme et Insane Demon sur la Frozen Liste.",
            "author": {
                "@type": "Organization",
                "name": "Saoshirax"
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="wrapper">
            <form class="form" method="POST">
                <h1 class="h1-submit" >Soumettre un record</h1>
                {% if wait_time > 0 %}
                    <p class="wait-message" id="wait-message" class="warning">Veuillez attendre <span id="bold">{{ wait_time|int }}</span> secondes avant de pouvoir de nouveau soumettre un record.</p>
                {% endif %}
                <div class="question">
                    <input class="input-nom-joueur-submit" type="text" id="joueur_nom" name="joueur_nom" required><br><br>
                    <label class="p-nom-joueur-submit" for="joueur_nom">Nom du Joueur:</label>
                </div>
                <div class="question">
                    <input class="input-nom-niveau-submit" type="text" id="niveau_nom" name="niveau_nom" required><br><br>
                    <label class="p-nom-niveau-submit" for="niveau_nom">Nom du Niveau:</label>
                </div>
                <div class="question">
                    <input class="input-nom-createur-submit" type="text" id="createur" name="createur" required><br><br>
                    <label class="p-nom-createur-submit" for="createur">Créateur du Niveau:</label>
                </div>
                <div class="question">
                    <input class="input-url-submit" type="url" id="video_url" name="video_url" required><br><br>
                    <label class="p-url-submit" for="video_url">URL de la Vidéo:</label>
                </div>
                <button id="submit-button" class="input-submit-submit" type="submit" {% if wait_time > 0 %}disabled{% endif %}>Soumettre</button>
            </form>
        </div>
        <div class="glow"></div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var waitTime = {{ wait_time|int }};
        var waitMessage = document.getElementById('wait-message');
        var submitButton = document.getElementById('submit-button');

        if (waitTime > 0) {
            var endTime = Date.now() + waitTime * 1000;

            function updateCountdown() {
                var remainingTime = Math.max(0, Math.ceil((endTime - Date.now()) / 1000));

                if (remainingTime > 0) {
                    waitMessage.textContent = 'Veuillez attendre ' + remainingTime + ' secondes avant de pouvoir de nouveau soumettre un record.';
                    setTimeout(updateCountdown, 1000);
                    waitMessage.classList.add('warning');
                    waitMessage.classList.remove('success');
                } else {
                    waitMessage.textContent = 'Vous pouvez maintenant soumettre votre record.';
                    waitMessage.classList.remove('warning');
                    waitMessage.classList.add('success');
                    submitButton.disabled = false;
                }
            }

            updateCountdown();
        }
    });
</script>
{% endblock %}
