@font-face {
  font-family: RobotoRegular;
  src: url(/static/Font/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(/static/Font/Roboto-Bold.ttf);
}
@font-face {
  font-family: Beligerent;
  src: url(/static/Font/belligerent.ttf);
}
/*
$big-margin-top-mb: px;
$big-margin-bottom-mb: px;
*/
/*
$big-margin-left-mb: px;
$big-margin-right-mb: px;*/
.page-content {
  overflow: hidden;
  background-color: #23252B;
  height: 100vh;
}

h1 {
  z-index: 1;
  font-family: RobotoBold;
  font-size: 40px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(35, 37, 43, 0.168627451);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  text-align: center;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.carousel-container::before {
  background: linear-gradient(to top, rgba(35, 37, 43, 0) 92%, #23252b 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 120%;
  z-index: 1;
  pointer-events: none;
}
.carousel-container .carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  animation: slide 50s linear infinite;
}
.carousel-container .carousel a {
  max-width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  padding-top: 2px;
  transition: all 300ms ease-in-out;
}
.carousel-container .carousel a:hover {
  cursor: pointer;
  scale: 1.02;
}
.carousel-container .carousel img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
.wrapper {
  display: flex;
  height: calc(100vh - 110px);
}

.searchinput-container {
  position: fixed;
}
.searchinput-container .inputbackground {
  background-color: rgba(35, 37, 43, 0.3960784314);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(3px);
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .searchinput-container .inputbackground {
    margin-right: 11px;
  }
}

@media screen and (min-width: 700px) {
  .searchinput-container {
    width: 30%;
    position: fixed;
  }
}
.glow {
  position: absolute;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(125px);
  transition: top 3s, left 3s;
  pointer-events: none;
  border-radius: 100%;
  z-index: 1;
}

.searchInput {
  width: 250px;
  height: 40px;
  border-radius: 300px;
  border: none;
  padding: 0px 16px;
  background-color: #36383B;
  color: white;
  font-family: RobotoRegular;
  font-size: 25px;
  transition: all 300ms ease-in-out;
  margin-top: 30px;
}
.searchInput:focus {
  outline: none;
  background-color: #3a3a3a;
}

@media screen and (min-width: 700px) {
  .searchInput {
    margin-left: 60px;
  }
}
.searchInput::-webkit-input-placeholder {
  color: #9A9A9A;
  font-family: RobotoBold;
}

.searchInput::-moz-placeholder {
  color: #9A9A9A;
  font-family: RobotoBold;
}

.searchInput:-moz-placeholder {
  color: #9A9A9A;
  font-family: RobotoBold;
}

.searchInput:-ms-input-placeholder {
  color: #9A9A9A;
  font-family: RobotoBold;
}

.home-left {
  height: 100%;
  width: 30%;
  max-width: 30%;
  overflow-y: scroll;
  margin-top: 110px;
  display: flex;
  align-items: flex-start;
  background-color: #23252B;
  flex-direction: column;
  font-family: RobotoRegular;
  color: white;
  font-size: 25px;
}
.home-left::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
.home-left::-webkit-scrollbar-track {
  background: #aaaaaa;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home-left::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 300px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home-left::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}
.home-left .home-left-container {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 90px;
  margin-left: 60px;
  display: flex;
}
.home-left .home-left-container .classement_nom_du_joueur {
  display: flex;
  margin-bottom: 6px;
  align-items: center;
  margin-left: 8px;
}
.home-left .home-left-container .classement_nom_du_joueur .classement_nom_du_joueur_nom, .home-left .home-left-container .classement_nom_du_joueur .classement_nom_du_joueur_position, .home-left .home-left-container .classement_nom_du_joueur .home-right-container-wrapper {
  color: white;
  text-decoration: none;
  font-family: RobotoRegular;
}
.home-left .home-left-container .classement_nom_du_joueur .classement_nom_du_joueur_position, .home-left .home-left-container .classement_nom_du_joueur .home-right-container-wrapper .home-right-container-paragraph-2 {
  margin-right: 7px;
}
.home-left .home-left-container .classement_nom_du_joueur .home-right-container-paragraph {
  margin-left: 7px;
}
.home-left .home-left-container .classement_nom_du_joueur .home-right-container-wrapper {
  padding: 8px;
  border-radius: 12px;
  transition: all 300ms ease-in-out;
}
.home-left .home-left-container .classement_nom_du_joueur .home-right-container-wrapper:hover {
  background-color: #36383B;
}
.home-left .home-left-container .classement_nom_du_joueur .home-right-container-wrapper.selected {
  background-color: #A000C7 !important;
}

.home-right {
  height: 100%;
  width: 70%;
  overflow-y: auto;
  margin-top: 110px;
  display: flex;
  justify-content: center;
  background-color: #23252B;
  font-family: RobotoRegular;
  font-size: 25px;
  color: white;
}
.home-right::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
.home-right::-webkit-scrollbar-track {
  background: #aaaaaa;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home-right::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 300px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home-right::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}
.home-right .home-right-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  margin-left: 80px;
  font-family: RobotoRegular;
  color: white;
}
.home-right .home-right-container .home-right-wrapper {
  width: -moz-fit-content;
  width: fit-content;
}
.home-right .home-right-container .home-right-wrapper .home-right-wrapper-classement-joueur {
  display: flex;
  font-family: RobotoBold;
  font-size: 60px;
  margin-bottom: 5px;
}
.home-right .home-right-container .home-right-wrapper .home-right-wrapper-classement-joueur h1 {
  margin-left: 12px;
}
.home-right .home-right-container .home-right-wrapper .home-right-wrapper-classement-joueur p {
  margin-top: 8px;
}
.home-right .home-right-container .home-right-wrapper .home-right-points-joueurs {
  font-family: RobotoBold;
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: -20px;
}
.home-right .home-right-container .home-right-wrapper .h2 {
  font-size: 40px;
  font-family: RobotoBold;
  margin-bottom: 20px;
}
.home-right .home-right-container .home-right-wrapper .reussites {
  display: flex;
}
.home-right .home-right-container .home-right-wrapper .reussites .reussite-classement {
  display: flex;
  justify-content: flex-end;
}

.logoyt-container {
  margin-top: 3.25px;
}
.logoyt-container .victoires-joueur-vid-link {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 8px;
}
.logoyt-container .victoires-joueur-vid-link:hover {
  background-color: #36383B;
}
.logoyt-container .victoires-joueur-vid-link .logoyt {
  transition: all 300ms ease-in-out;
  width: 35px;
  height: auto;
  margin-top: -4px;
  margin-bottom: -7px;
}

.logo-yt {
  margin-bottom: 10px;
}

.reussite-classement, .reussite, .reussite2 {
  margin-bottom: 5.3px;
}

.reussite {
  padding: 4px;
}

.reussite-classement {
  padding-top: 4px;
  padding-bottom: 4px;
}

.reussite-classement, .reussite, .logoyt-container, .reussite2 {
  margin-right: 14px;
}

.reussite2 p {
  border-radius: 8px;
  padding: 4px;
  color: white;
}
.reussite2 p:hover {
  background-color: #36383B;
  cursor: pointer;
}

.reussite2 a {
  text-decoration: none;
}

.home-left, .home-right {
  scrollbar-width: thin;
  scrollbar-color: #5c5c5c #aaaaaa;
}

#bold {
  font-family: RobotoBold;
}

.button_switcher {
  width: 35px;
  height: 35px;
  background-color: #36383B;
  border-radius: 300px;
  transition: all 300ms ease-in-out;
  border: solid 1px white;
  position: fixed;
  top: 55%;
  left: 92%;
  transform: translate(-50%, -50%);
}
.button_switcher:hover {
  background-color: #494b4d;
  cursor: pointer;
}
.button_switcher .fleche {
  max-width: 18px;
  margin-top: 3.5px;
  transition: all 300ms ease-in-out;
}

.rotated {
  transform: rotate(180deg);
}/*# sourceMappingURL=classement.css.map */