@import '../Global/Global.scss';

@media screen and (min-width: 700px) {
    .toggle-buttons {
        display: none;
    }

    .home-right2 {
        display: none !important;
    }
}

@media screen and (max-width: 700px) {
    .home-right {
        display: none !important;
    }

    .home-left, .home-right2 {
        min-width: 100% !important;
    }

    .home-left-container {
        margin-left: 0px !important;
    }

    .toggle-buttons {
        position: fixed;
        z-index: 1;
    }

    .home-left, .home-right2 {
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0;
        transform: translateX(100%);
        position: absolute;
        width: 100%;
        height: calc(100% - 110px) !important;
    }

    .home-left,
    .home-right2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        transition: transform 0.5s ease-in-out;
    }

    .home-left.show, .home-right2.show {
        opacity: 1;
        transform: translateX(0);
    }

    .home-left.hide {
        transform: translateX(100%);
        opacity: 0;
    }
    
    .home-right2.hide {
        transform: translateX(100%);
        opacity: 0;
    }

    .home-left.show {
        transform: translateX(0);
    }

    .home-right2.show {
        transform: translateX(0);
    }

    .home-left.hide, .home-right2.hide {
        pointer-events: none;
    }

    .home-left {
        display: flex;
        align-items: center;
    }

    .searchinput-container {
       width: fit-content;
    }

    body {
        overflow: hidden;
    }
    
    .wrapper {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    
    .home-left {
        overflow-x: hidden;
    }

    .searchInput {
        max-width: fit-content !important;
    }
}

.home-right2 {
    height: 100%;
    width: 70%;
    overflow-y: auto;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    background-color: $primary-color-black;
    font-family: $RobotoRegular;
    font-size: $p-size-pc-mid;
    color: white;

    &::-webkit-scrollbar {
        width: 8px;
        height: 12px;
    }
    
    &::-webkit-scrollbar-track {
        background: #aaaaaa;
        transition: all 300ms ease-in-out;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #5c5c5c;
        border-radius: 300px;
        transition: all 300ms ease-in-out;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #6e6e6e;
    }

    .home-right-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
        font-family: $RobotoRegular;
        color: white;
        align-items: center;

        .home-right-wrapper {
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;

            .home-right-wrapper-classement-joueur {
                display: flex;
                font-family: $RobotoBold;
                font-size: $h1-size-pc;
                margin-bottom: 5px;
                justify-content: center;
                flex-direction: column;

                .home-right-wrapper-classement-joueur2 {
                    display: flex;
                }
        
                h1 {
                    margin-left: 12px;
                    margin-bottom: 0px !important;
                }

                p {
                    margin-top: 8px;
                }
            }

            .home-right-points-joueurs {
                margin-top: 0px !important;
            }

            .home-right-points-joueurs, .home-right-points-joueurs2 {
                font-family: $RobotoRegular;
                font-size: $p-size-pc-mid;
                text-decoration: none;
                color: white;
            }

            .h2, .niveaux_reussis {
                font-size: $h2-size-pc;
                font-family: $RobotoBold;
                margin-bottom: 10px;
                margin-top: 20px;
            }

            .reussites {
                display: flex;

                .reussite-classement {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

.victoires-joueur-vid-link {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 8px;

    &:hover {
        background-color: $secondary-color-grey;
    }

    .logoyt {
        transition: all 300ms ease-in-out;
        width: 35px;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .victoires-joueur-vid-link {
        margin-left: 7px;
        margin-right: 7px;
        margin-top: 4px;
        height: fit-content !important;

        &:hover {
            background-color: $primary-color-black;
        }

        .logoyt {
            margin: 0px !important;
            padding: 0px !important;    
        }
    }
}

.logo-yt {
    margin-bottom: 10px;
}

.reussite {
    padding: 4px;
}

.reussite2 p {
    border-radius: 8px;
    padding: 4px;
    color: white;

    &:hover {
        background-color: $secondary-color-grey;
        cursor: pointer;
    }
}


.home-left, .home-right {
    scrollbar-width: thin;
    scrollbar-color: #5c5c5c #aaaaaa;
}

.reussite-classement div {
    margin-left: 2px;
    margin-right: 2px;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 530px) {
    .reussites, .home-right-points-joueurs2, .points {
        font-size: 20px !important;
    }

    .home-right-points-joueurs {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 433px) {
    .reussites, .home-right-points-joueurs2, .points {
        font-size: 17px !important;
    }

    .home-right-points-joueurs {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 353px) {
    .reussites, .home-right-points-joueurs2, .points {
        font-size: 15px !important;
    }

    .home-right-points-joueurs {
        font-size: 25px !important;
    }
}