@font-face {
  font-family: RobotoRegular;
  src: url(/static/Font/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(/static/Font/Roboto-Bold.ttf);
}
@font-face {
  font-family: Beligerent;
  src: url(/static/Font/belligerent.ttf);
}
/*
$h2-size-pc: px;
$h2-size-mb: px;
*/
/*
$big-margin-top-mb: px;
$big-margin-bottom-mb: px;
*/
/*
$big-margin-left-mb: px;
$big-margin-right-mb: px;*/
.page-content {
  background-color: #23252B;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.page-content .glow {
  position: absolute;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(125px);
  transition: top 3s, left 3s;
  pointer-events: none;
  border-radius: 100%;
}
.page-content .wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 40px;
}
.page-content .wrapper h1 {
  color: white;
  font-family: RobotoBold;
  max-width: 1000px;
  margin-bottom: 40px;
  z-index: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.page-content .wrapper p {
  color: rgb(42, 255, 34);
  font-size: 27px;
  font-family: RobotoRegular;
  margin-bottom: 40px;
  z-index: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.page-content .wrapper .button-home {
  margin-bottom: 15px;
  margin-left: 8px;
  margin-right: 8px;
}
.page-content .wrapper .button-home {
  font-family: RobotoRegular;
  font-size: 27px;
  position: relative;
  width: 230px;
  height: 75px;
  background-color: #36383B;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-top: 20px;
}
.page-content .wrapper .button-home:hover {
  background-color: #23252B;
  transition-delay: 0.6s;
}
.page-content .wrapper .button-home::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -6.5px;
  margin: auto;
  width: 242.5px;
  height: 87.5px;
  border-radius: 12px;
  animation: gradient 20s ease infinite;
  background: linear-gradient(-45deg, #A000C7, #40c9ff, #A000C7, #40c9ff, #A000C7, #40c9ff, #A000C7, #40c9ff);
  background-size: 900% 900%;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.page-content .wrapper .button-home::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  animation: gradient 20s ease infinite;
  background: linear-gradient(-45deg, #A000C7, #40c9ff, #A000C7, #40c9ff, #A000C7, #40c9ff, #A000C7, #40c9ff);
  background-size: 900% 900%;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(15px);
}
.page-content .wrapper .button-home:hover::after {
  filter: blur(30px);
}
.page-content .wrapper .button-home:hover::before {
  transform: rotate(-180deg);
}
.page-content .wrapper .button-home:active::before {
  scale: 0.7;
}
.page-content .wrapper .button-submit-record {
  font-family: RobotoRegular;
  font-size: 27px;
  position: relative;
  width: 230px;
  height: 75px;
  background-color: #36383B;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
.page-content .wrapper .button-submit-record:hover {
  background-color: #23252B;
  transition-delay: 0.6s;
}
.page-content .wrapper .button-submit-record::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -6.5px;
  margin: auto;
  width: 242.5px;
  height: 87.5px;
  border-radius: 12px;
  animation: gradient2 20s ease infinite;
  background: linear-gradient(-45deg, #A000C7, #40c9ff, #A000C7, #40c9ff, #A000C7, #40c9ff, #A000C7, #40c9ff);
  background-size: 900% 900%;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes gradient2 {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.page-content .wrapper .button-submit-record::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  animation: gradient2 20s ease infinite;
  background: linear-gradient(-45deg, #A000C7, #40c9ff, #A000C7, #40c9ff, #A000C7, #40c9ff, #A000C7, #40c9ff);
  background-size: 900% 900%;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(15px);
}
.page-content .wrapper .button-submit-record:hover::after {
  filter: blur(30px);
}
.page-content .wrapper .button-submit-record:hover::before {
  transform: rotate(-180deg);
}
.page-content .wrapper .button-submit-record:active::before {
  scale: 0.7;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 60px;
  }
}/*# sourceMappingURL=submit_record_correctement_envoyer.css.map */